In [1]:
train_text=['My Self Sudipta Sarkar',' I pursuing my masters degree in Ramakrishna Mission Residential College (Autonomous) Narendrapur.','I done my bachelor degree in Computer Science (Hons.) from Ramakrishna Mission Vivekananda Centenary College, Rahara.']

In [2]:
from sklearn.feature_extraction.text import CountVectorizer

In [3]:
vector=CountVectorizer()
vector.fit(train_text)

CountVectorizer()

In [4]:
vector.get_feature_names_out()

array(['autonomous', 'bachelor', 'centenary', 'college', 'computer',
       'degree', 'done', 'from', 'hons', 'in', 'masters', 'mission', 'my',
       'narendrapur', 'pursuing', 'rahara', 'ramakrishna', 'residential',
       'sarkar', 'science', 'self', 'sudipta', 'vivekananda'],
      dtype=object)

In [5]:
train_text_dtm=vector.transform(train_text)

In [6]:
train_text_dtm

<3x23 sparse matrix of type '<class 'numpy.int64'>'
	with 30 stored elements in Compressed Sparse Row format>

In [7]:
train_text_dtm.toarray()

array([[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1,
        0],
       [1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0,
        0],
       [0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0,
        1]], dtype=int64)

In [8]:
import pandas as pd
import numpy as np

In [9]:
text=pd.DataFrame(train_text_dtm.toarray(),columns=vector.get_feature_names_out())

In [10]:
text.head()

,autonomous,bachelor,centenary,college,computer,degree,done,from,hons,in,...,narendrapur,pursuing,rahara,ramakrishna,residential,sarkar,science,self,sudipta,vivekananda
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,1,1,0
1,1,0,0,1,0,1,0,0,0,1,...,1,1,0,1,1,0,0,0,0,0
2,0,1,1,1,1,1,1,1,1,1,...,0,0,1,1,0,0,1,0,0,1

In [11]:
test_text=['there are many sudipta at narendrapur']

In [12]:
test_text_dtm=vector.transform(test_text)

In [13]:
test_text_dtm.toarray()
pd.DataFrame(test_text_dtm.toarray(),columns=vector.get_feature_names_out())

,autonomous,bachelor,centenary,college,computer,degree,done,from,hons,in,...,narendrapur,pursuing,rahara,ramakrishna,residential,sarkar,science,self,sudipta,vivekananda
0,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0